@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #fff9f8;
    font-family: "Reddit Sans", sans-serif;
}

/* NAVBAR */
.navbar {
    position: relative;
    padding: 0 40px;
    width: 100%;
    min-height: 100px;
    background-color: #0b4a66;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #878787 4px solid;
    z-index: 2;
}


.logo{
    cursor: pointer;
    position: relative;
}

.logo:hover {
    transform: scale(1.05);
}

.logo p{
    left: 30px;
    flex: 1;
    font-size: 2em;
    position: relative;
    color: #fff9f8;
    font-weight: 700;
}

.logo span {
    position: absolute;
    left: 7px;
    bottom: -13px;
    font-size: .5em;
    letter-spacing: 6px;
    font-weight: 600;
}

.done {
    display: flex;
}

.done i{
    color: #4caf50;
    position: absolute;
    right: -24px;
    bottom: 9px;
}

.nav-links{
    color: #fff9f8;
    display: flex;
    list-style-type: none;
    gap: 10px;
    font-size: 1.3em;
}

.nav-links li a {
    position: relative;
    text-decoration: none;
    color: inherit;
    font-weight: 600;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    background-color: #fff9f8;
    border-radius: 30px;
    bottom: -5px;
    transition: 0.4s;
}

.nav-links li a:hover::after {
    width: 100%;
}

.navbar{
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: whitesmoke;
}

.nav-links{
    display: flex;
    align-items: center;
}

.nav-links li{
    margin: 0 30px;
}

.cart-icon {
    font-size: 1.3em;
    margin-right: 30px;
}

.menu-btn{
    font-size: 1.5em;
    color: #fff9f8;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
}

/* FORM */
.order-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 90%;
    margin: 100px 20px 20px 20px;
    height: 90vh;
}

.order-form input {
    display: flex;
    justify-self: center;
    align-self: center;
    height: 50px;
    width: 50%;
    border: solid 1px lightgray;
    background-color: #fff9f8;
    box-shadow: 0 3px 5px #878787;
    padding: 20px;
    font-size: clamp(14px, 2vw, 18px);
}

#msg {
    height: clamp(90px, 10vw, 150px);
    display: flex;
    justify-self: center;
    align-self: center;
    width: 50%;
    border: solid 1px lightgray;
    background-color: #fff9f8;
    box-shadow: 0 3px 5px #878787;
    padding: 20px;
    font-size: clamp(14px, 2vw, 18px);
    font-family: "Reddit Sans", sans-serif;
}

#msg::placeholder{
    font-family: "Reddit Sans", sans-serif;
}

#send-btn {
    background-color: #4caf50;
    color: #fff9f8;
    border: none;
    height: clamp(35px, 5vw, 50px); 
    width: clamp(90px, 10vw, 120px);
    border-radius: 30px;
    font-size: clamp(15px, 2vw + 1px, 20px);
    font-weight: bold;
    margin: 20px 0;
}

#send-btn:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* FOOTER */
footer {
    background-color: #0b4a66;
    color: #fff9f8;
    margin-top: 60px;
    padding: 50px 90px 0 90px;
    display: flex;
    flex-direction: column;
}

.footer-link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
}

.fl {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    list-style-type: none;
}

.footer-links li a {
    position: relative;
    text-decoration: none;
    color: inherit;
    font-weight: 500;
}

.footer-links li a::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 0;
    left: 0;
    background-color: #fff9f8;
    border-radius: 30px;
    bottom: -5px;
    transition: 0.4s;
}

.footer-links li a:hover::after {
    width: 100%;
}

.footer-about{
    display: flex;
    flex-direction: column;
}

.footer-about h2 {
    margin-left: 30px;
}

.footer-social {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 25px;
}

.footer-social .fa-facebook:hover{
    transform: scale(1.1);
    color: #1877F2;
}

.footer-social .fa-instagram:hover{
    transform: scale(1.1);
    color: #E4405F;
}

.footer-social .fa-whatsapp:hover{
    transform: scale(1.1);
    color: #25D366;
}

footer p{
    display: flex;
    justify-content: center;
    padding: 30px;
}

.footer-newsletter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.footer-newsletter input {
    height: 50px;
    width: 300px;
    font-size: 18px;
    padding-left: 5px;
    border: none;
    background-color: #fff9f8;
    color: #0b4a66;
}

.footer-newsletter button {
    border: none;
    height: 50px;
    width: 100px;
    font-size: 18px;
    background-color: #4caf50;
    color: #fff9f8;
}

.footer-newsletter button:hover {
    transform: scale(1.07);
}

/* RESPONSIVE */
@media only screen and (max-width:1060px){
    
    .menu-btn{
        display: inline;
    }
    .navbar{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo{
        position: absolute;
        top: 20px;
        left: 0;
    }
    .nav-links{
        align-items: center;
        position: absolute;
        top: 90px;
        left: 0;
        width: 100%;
        height: calc(100vh - 90px);
        flex-direction: column;
        width: 100%;
        height: 80vh;
        justify-content: center;
        background: #0b4a66;
        margin-top: -900px;
        transform: translateY(-100%);
        transition: transform 0.4s ease-in-out; 
        z-index: 10;
        gap: 0;
    }
    .mobile-menu{
        margin-top: 0;
        border-bottom-right-radius: 30%;
        transform: translateY(0);
    }
    .nav-links li{
        margin: 30px auto;
    }
    .order-form input {
        width: 80%;
        height: 35px;
    }
}