@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    color: inherit;
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, #0b4a66, #fff9f8);
    font-family: "Reddit Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: #fff9f8;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#login-form {
    margin: 10px;
    padding: 20px;
    width: 400px;
    text-align: center;
    border: 2px solid #fff9f8;
    border-radius: 10px;
}

#login-form input {
    width: 100%;
    border: none;
    padding: 10px 100px 10px 5px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: medium;
    font-family: "Reddit Sans", sans-serif;
}

#login-form input::placeholder{
    color: #0b4a66;
    font-family: "Reddit Sans", sans-serif;
}

#login-form button {
    font-family: "Reddit Sans", sans-serif;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: medium;
    border-radius: 4px;
    background-color: #0b4a66;
    color: #fff9f8;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

p {
    color: #0b4a66;
    text-align: center;
    
}

p a {
    font-weight: 800;
    text-transform: uppercase;
    margin-left:7px;
}

#email-error {
    text-align: left;
    margin-bottom: 10px;
    color: rgb(177, 0, 0);
}